#Lecture 12 Model Deployment
* Course: 2603647 Fundamental Programming for Datascience 2/64
* Stat CBS Chula by Suronapee Phoomvuthisarn, Ph.D.

In [1]:
!pip install jupyter-dash

Collecting jupyter-dash
  Downloading jupyter_dash-0.4.2-py3-none-any.whl (23 kB)
Requirement already satisfied: ipython in c:\users\brigh\anaconda3\lib\site-packages (from jupyter-dash) (7.29.0)
Requirement already satisfied: requests in c:\users\brigh\anaconda3\lib\site-packages (from jupyter-dash) (2.26.0)
Requirement already satisfied: flask in c:\users\brigh\anaconda3\lib\site-packages (from jupyter-dash) (1.1.2)
Requirement already satisfied: ipykernel in c:\users\brigh\anaconda3\lib\site-packages (from jupyter-dash) (6.4.1)
Collecting dash
  Downloading dash-2.3.1-py3-none-any.whl (9.6 MB)
Requirement already satisfied: nest-asyncio in c:\users\brigh\anaconda3\lib\site-packages (from jupyter-dash) (1.5.1)
Collecting retrying
  Downloading retrying-1.3.3.tar.gz (10 kB)
Collecting ansi2html
  Downloading ansi2html-1.7.0-py3-none-any.whl (15 kB)
Collecting dash-table==5.0.0
  Downloading dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Collecting dash-html-components==2.0.0
  Downloading dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Collecting dash-core-components==2.0.0
  Downloading dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Collecting plotly>=5.0.0
  Downloading plotly-5.7.0-py2.py3-none-any.whl (28.8 MB)
Collecting flask-compress
  Downloading Flask_Compress-1.11-py3-none-any.whl (7.9 kB)
Requirement already satisfied: click>=5.1 in c:\users\brigh\anaconda3\lib\site-packages (from flask->jupyter-dash) (8.0.3)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\brigh\anaconda3\lib\site-packages (from flask->jupyter-dash) (2.0.2)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\brigh\anaconda3\lib\site-packages (from flask->jupyter-dash) (2.11.3)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\brigh\anaconda3\lib\site-packages (from flask->jupyter-dash) (2.0.1)
Requirement already satisfied: colorama in c:\users\brigh\anaconda3\lib\site-packages (from click>=5.1->flask->jupyter-dash) (0.4.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\brigh\anaconda3\lib\site-packages (from Jinja2>=2.10.1->flask->jupyter-dash) (1.1.1)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Requirement already satisfied: six in c:\users\brigh\anaconda3\lib\site-packages (from plotly>=5.0.0->dash->jupyter-dash) (1.16.0)
Collecting brotli
  Downloading Brotli-1.0.9-cp39-cp39-win_amd64.whl (383 kB)
Requirement already satisfied: ipython-genutils in c:\users\brigh\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (0.2.0)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in c:\users\brigh\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (1.4.1)
Requirement already satisfied: matplotlib-inline<0.2.0,>=0.1.0 in c:\users\brigh\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (0.1.2)
Requirement already satisfied: traitlets<6.0,>=4.1.0 in c:\users\brigh\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (5.1.0)
Requirement already satisfied: tornado<7.0,>=4.2 in c:\users\brigh\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (6.1)
Requirement already satisfied: jupyter-client<8.0 in c:\users\brigh\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (6.1.12)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\brigh\anaconda3\lib\site-packages (from ipython->jupyter-dash) (3.0.20)
Requirement already satisfied: jedi>=0.16 in c:\users\brigh\anaconda3\lib\site-packages (from ipython->jupyter-dash) (0.18.0)
Requirement already satisfied: backcall in c:\users\brigh\anaconda3\lib\site-packages (from ipython->jupyter-dash) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\brigh\anaconda3\lib\site-packages (from ipython->jupyter-dash) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\brigh\anaconda3\lib\site-packages (from ipython->jupyter-dash) (58.0.4)
Requirement already satisfied: decorator in c:\users\brigh\anaconda3\lib\site-packages (from ipython->jupyter-dash) (5.1.0)
Requirement already satisfied: pygments in c:\users\brigh\anaconda3\lib\site-packages (from ipython->jupyter-dash) (2.10.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\brigh\anaconda3\lib\site-packages (from jedi>=0.16->ipython->jupyter-dash) (0.8.2)
Requirement already satisfied: jupyter-core>=4.6.0 in c:\users\brigh\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel->jupyter-dash) (4.8.1)
Requirement already satisfied: pyzmq>=13 in c:\users\brigh\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel->jupyter-dash) (22.2.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\brigh\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel->jupyter-dash) (2.8.2)
Requirement already satisfied: pywin32>=1.0 in c:\users\brigh\anaconda3\lib\site-packages (from jupyter-core>=4.6.0->jupyter-client<8.0->ipykernel->jupyter-dash) (228)
Requirement already satisfied: wcwidth in c:\users\brigh\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->jupyter-dash) (0.2.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\brigh\anaconda3\lib\site-packages (from requests->jupyter-dash) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\brigh\anaconda3\lib\site-packages (from requests->jupyter-dash) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\brigh\anaconda3\lib\site-packages (from requests->jupyter-dash) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\brigh\anaconda3\lib\site-packages (from requests->jupyter-dash) (3.2)
Building wheels for collected packages: retrying
  Building wheel for retrying (setup.py): started
  Building wheel for retrying (setup.py): finished with status 'done'
  Created wheel for retrying: filename=retrying-1.3.3-py3-none-any.whl size=11448 sha256=9283eeed2a0fb885f46246373a4992c02ac9b4231aab1c20569b634ab59603a8
  Stored in directory: c:\users\brigh\appdata\local\pip\cache\wheels\ce\18\7f\e9527e3e66db1456194ac7f61eb3211068c409edceecff2d31
Successfully built retrying
Installing collected packages: tenacity, brotli, plotly, flask-compress, dash-table, dash-html-components, dash-core-components, retrying, dash, ansi2html, jupyter-dash
Successfully installed ansi2html-1.7.0 brotli-1.0.9 dash-2.3.1 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0 flask-compress-1.11 jupyter-dash-0.4.2 plotly-5.7.0 retrying-1.3.3 tenacity-8.0.1

#Example

In [2]:
from jupyter_dash import JupyterDash # https://medium.com/plotly/introducing-jupyterdash-811f1f57c02e
from dash import dcc # for interactivity built with React.js
from dash import html # for all HTML tags

# initialize an application
app = JupyterDash(__name__)
app.layout = html.Div(children=[
   html.H1(children='Hello Dash'),
   html.Div(children='''Building Web Application Framework for Python.'''),
   dcc.Graph(
      id='my-graph',
      figure={
         'data': [
            {'x': ['hw', 'mid', 'final'], 'y': [26, 25, 32], 'type': 'bar', 'name': 'Student1'},
            {'x': ['hw', 'mid', 'final'], 'y': [20, 19, 35], 'type': 'bar', 'name': 'Student2'},
         ],
         'layout': {
            'title': 'Fundamental Programming for Data Science'
         }
      }
   ) 

])

In [3]:
# execute only if run as a script # https://www.geeksforgeeks.org/__name__-special-variable-python/
#if __name__ == '__main__':
#   app.run_server(debug=True)
app.run_server(debug=True)

Dash app running on http://127.0.0.1:8050/

In [4]:
app = JupyterDash(__name__)
colors = {
   'background': 'white',
   'text': 'blue'
}
app.layout = html.Div(style={'backgroundColor': colors['background']}, children=[
   html.H1(
      children='Hello Dash',
      #className="header-title",
      style={
         'textAlign': 'center',
         'color': colors['text']
      }
   ),
	
   html.Div(children='Building Web Application Framework for Python.', style={
      'textAlign': 'center',
      'color': colors['text']
   }),
	
   dcc.Graph(
      id='my-graph-2',

      figure={
         'data': [
            {'x': ['hw', 'mid', 'final'], 'y': [26, 25, 32], 'type': 'bar', 'name': 'Student1'},
            {'x': ['hw', 'mid', 'final'], 'y': [20, 19, 35], 'type': 'bar', 'name': 'Student2'},
         ],
         'layout': {
            'title': 'Fundamental Programming for Data Science',
            'plot_bgcolor': 'red',
            'paper_bgcolor': 'green',
            'font': {
               'color': colors['text']
            }
         }
      }
   )
])
app.run_server('inline',debug=True)

In [5]:
app.layout = html.Div([
   html.Label('Dropdown'),
   dcc.Dropdown(
      options=[
         {'label': 'New York City', 'value': 'NYC'},
         {'label': u'Montréal', 'value': 'MTL'},
         {'label': 'San Francisco', 'value': 'SF'}
      ],
      value='MTL'
   ),
	
   html.Label('Multi-Select Dropdown'),
   dcc.Dropdown(
      options=[
         {'label': 'New York City', 'value': 'NYC'},
         {'label': u'Montréal', 'value': 'MTL'},
         {'label': 'San Francisco', 'value': 'SF'}
      ],
      value=['MTL', 'SF'],
      multi=True
   ),
	
   html.Label('Radio Items'),
   dcc.RadioItems(
      options=[
         {'label': 'New York City', 'value': 'NYC'},
         {'label': u'Montréal', 'value': 'MTL'},
         {'label': 'San Francisco', 'value': 'SF'}
      ],
      value='MTL'
   ),
	
   html.Label('Checkboxes'),
   dcc.Checklist(
      options=[
         {'label': 'New York City', 'value': 'NYC'},
         {'label': u'Montréal', 'value': 'MTL'},
         {'label': 'San Francisco', 'value': 'SF'}
      ],
      value=['MTL', 'SF']
   ),

   html.Label('Text Input'),
   dcc.Input(value='MTL', type='text'),
	
   html.Label('Slider'),
   dcc.Slider(
      min=0,
      max=9,
      marks={i: 'Label {}'.format(i) if i == 1 else str(i) for i in range(1, 6)},
      value=5,
   ),
], style={'columnCount': 1})


app.run_server(debug=True)

Dash app running on http://127.0.0.1:8050/

#Exercise

In [6]:
#import dash
from jupyter_dash import JupyterDash
from dash import dcc 
from dash import html 
import plotly.graph_objs as go
import os
from dash.dependencies import Input, Output
from keras.models import load_model

##1 Create the histogram of diamond prices

In [7]:
import pandas as pd; import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
df = sns.load_dataset('diamonds')
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [8]:
# create the app instance
app = JupyterDash(__name__)

In [9]:
# create 2 main elements of the plotly 
# (1) create trace - a single plot can have many traces
trace = go.Histogram(
    # give data for the x-axis
    x = df['price']
)

In [10]:
# (2) create layout
layout = go.Layout(
    title = 'Diamond Prices',
    xaxis = dict(title='Price'),
    yaxis = dict(title='Count')
)

In [11]:
# create a figure object 
figure = go.Figure(
    data = [trace], # data argument keeps the list of traces (in this case is one trace)
    layout = layout
)

In [12]:
# create layout of our Dash app
app.layout = html.Div(
 dcc.Graph(
      id='my-graph-2',
      figure=figure
   )
)

In [13]:
# Run app and display result inline in the notebook
app.run_server(mode='inline')

##2

In [27]:
diamonds = df.sample(2000)
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
34753   0.41    Premium     H     SI1   60.0   61.0    876  4.83  4.77  2.88
13082   1.50       Good     H     SI2   63.8   57.0   5416  7.21  7.14  4.58
23573   1.40  Very Good     G     VS1   59.9   56.0  11584  7.31  7.34  4.39
40650   0.50  Very Good     E     SI2   61.3   56.0   1154  5.08  5.13  3.13
17608   1.12      Ideal     H    VVS2   62.3   53.0   7091  6.64  6.70  4.16
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
32880   0.40  Very Good     J     VS1   63.2   57.0    810  4.73  4.70  2.98
21903   1.59      Ideal     I     VS2   61.1   55.0   9972  7.54  7.48  4.59
24285   1.75    Premium     I     VS1   60.6   60.0  12529  7.84  7.80  4.74
10508   1.01  Very Good     D     SI2   60.5   58.0   4799  6.45  6.50  3.92
31779   0.42  Very Good     E     SI1   62.5   55.0    773  4.80  4.83  3.01

[2000 rows x 10 columns]

In [28]:
external_stylesheets = [
    'https://codepen.io/chriddyp/pen/bWLwgP.css',
    {
        'href': 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css',
        'rel': 'stylesheet',
        'integrity': 'sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO',
        'crossorigin': 'anonymous'
    }
]

In [29]:
app = JupyterDash(__name__,external_stylesheets=external_stylesheets)

In [30]:
numerical_features = ['price','carat','depth', 'table',  'x', 'y','z']
options_dropdown = [{'label':x.upper(), 'value':x} for x in numerical_features]

In [31]:
dd_x_var = dcc.Dropdown(id='x-var', options = options_dropdown, value='carat')
div_x_var = html.Div(children=[html.H4('Variable for xaxis:'), dd_x_var],
                     className='six columns')
dd_y_var = dcc.Dropdown(id='y-var', options = options_dropdown, value='price')
div_y_var = html.Div(children=[html.H4('Variable for yaxis:'), dd_y_var],
                     className='six columns')

In [32]:
app.layout = html.Div(children=[html.H1('Adding interactive controls'),
                                html.H2('Interactive scatter plot example'),
                                html.Div(children=[div_x_var, div_y_var],
                                         className='row'),
                                dcc.Graph(id='scatter')
                                ])

In [33]:
@app.callback(
    Output(component_id='scatter', component_property='figure'),
    [Input(component_id='x-var', component_property='value'),Input(component_id='y-var', component_property='value')]
)

def scatter_plot(x_col, y_col):
  trace = go.Scatter(
      x = diamonds[x_col],
      y = diamonds[y_col],
      mode = 'markers'
  )
  layout = go.Layout(
      title = 'Scatter plot', 
      xaxis = dict(title = x_col.upper()),
      yaxis = dict(title = y_col.upper())
      )
  output_plot = go.Figure(
      data = [trace],
      layout = layout
  )
  return output_plot

In [34]:
app.run_server(mode='inline')

##3 Serialized Objects

In [35]:
from jupyter_dash import JupyterDash
import plotly.graph_objs as go
import os
from dash import dcc 
from dash import html
from dash.dependencies import Input, Output
from keras.models import load_model
from keras.models import Sequential
from keras.layers import Dense
import joblib

In [36]:
import pandas as pd; import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
df = sns.load_dataset('diamonds')
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [37]:
y = df['price']
df.drop('price', axis=1, inplace=True)
df

       carat        cut color clarity  depth  table     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0  5.83  5.87  3.64

[53940 rows x 9 columns]

In [38]:
df = pd.get_dummies(df, drop_first=True)
X = df.to_numpy()
y = y.to_numpy()
X.shape, y.shape

((53940, 23), (53940,))

In [39]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import SGDRegressor

X = df.to_numpy()
X.shape, y.shape

scaler = StandardScaler()
X = scaler.fit_transform(X)
model = SGDRegressor(random_state=1)
model.fit(X, y)
print("Cost", np.sqrt(mean_squared_error(model.predict(X),y)))
print("R-squared", model.score(X,y))

Cost 1131.7915460637087
R-squared 0.9195145967681775

In [41]:
# Scaler
joblib.dump(scaler, './Model/scaler.joblib')

# Trained Model
joblib.dump(model, './Model/model.pkl')

['./Model/model.pkl']